#wrap{width: 100%; height: auto; min-height: 500px;
      box-sizing: border-box; padding: 1 0rem; margin: 0 auto;
      }
#headBox{width: 100%; height:132px;background-color: #2c2c2c; }
.head_wrap{width: 960px; height: 100%;margin: 0 auto; padding: 1rem 1rem; box-sizing: border-box;}
h1{width: 100px; height: 100px; 
  background-image: url("../img/lego_logo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
    float:left;}
h1>a{display: block; width: 100%; height: 100%;}
h1>a>span{display: block; width: 0; height: 0; overflow: hidden; position: absolute; z-index: -1; }


#gnb{width:300px;height: 100px; float:left;}
#gnb>ul{width: auto; height: auto;}
#gnb>ul>li{width: 80px;height: 80px; float:left; margin-right: 20px; margin-top: 20px; background-color: #aaf;}
#gnb>ul>li:first-child{margin-left: 20px;}
#gnb>ul>li:last-child{margin-right: 0;}

#unb{width: 500px;height: 100px; float:right;}
/* #unb>ul{} */
#unb>ul>li{width: 80px;height: 80px;float:left; background-color: #aaf;margin-right: 20px; margin-top: 20px;}
#unb>ul>li:first-child{width: 200px;}
#unb>ul>li:last-child{margin-right: 0;}


#contentBox{width: 960px; height: 1300px; margin: 0 auto;}
.com_wrap{width: auto; height: auto; padding: 0 120px;box-sizing: border-box;}
.com_wrap>li{float:left; margin-top: 30px;}
.com_wrap i{display: inline-block; width: 300px;height: 300px; background-color: #ddd;}
.icon_02,.icon_04,.icon_06{margin-left: 100px;}
.iname_02,.iname_04,.iname_06{margin-left: 100px;}
.com_wrap>li>a>span{display: block; width: 300px;height: 40px;font-size: 2rem; line-height: 40px; text-align: center; color: #333;font-weight: bold; }


#footBox{width: 100%; height: 170px; background-color: #fff; padding: 1rem; box-sizing: border-box; border-top:1px solid #ddd;}
.foot_wrap{width: 960px; height: 100%; margin: 0 auto;}
#footBox>.foot_wrap>ul{width: 800px; height: auto; float:left;}
#footBox>.foot_wrap>ul>li{color: #00f; margin-right: 100px;}
.info_01{width: 100px; height: 20px; float:left;}
.info_02{width: 200px; height: 20px; float:left;}
.info_03{width: 100px; height: 20px; float:left;}
.info_box{width: auto; height: 20px; float:left; margin-top: 60px;}